<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <servlet>
    <servlet-name>diagrampage</servlet-name>
    <servlet-class>org.presheaf.DiagramPage</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>diagramsamples</servlet-name>
    <servlet-class>org.presheaf.DiagramSamples</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>diagramservice</servlet-name>
    <servlet-class>org.presheaf.DiagramService</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>diagrampage</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>diagramsamples</servlet-name>
    <url-pattern>/samples</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>diagramservice</servlet-name>
    <url-pattern>/dws</url-pattern>
  </servlet-mapping>

</web-app>
